body{
	margin: 0;
	padding: 0;
	background-color:#0a0000;
	overflow: hidden;				/*0a0000*/
}
.div1{
	background-color: #1a1b1c;
    width: 90px;
    height: 550px;
    position: relative;
    padding: 0;
    display: inline-block;
    top: 89px;
    left:169px;
    overflow: hidden;
}

#logo{
	margin-left: 40%;
	size: 40px;
}

.navbarlist{
	list-style-type: none;
	text-decoration: none;
	padding-top: 80px;
	padding-left:3px;
/*	left: -34px;
*/	position: inherit;
	/*top: 76px;*/
	text-transform: uppercase;
	text-align: center;
	display: flex;
	flex-direction: column;

}
/*nav{
	overflow: auto;
}*/
li{

	list-style: none;
	text-decoration: none;
	font-family: Montserrat;
	font-weight: 600;
	font color: #898989;
	padding-right: 10px;
	display: inline;-block;

}

li a{
	text-decoration: none;
	color: #898989;
	line-height: 5;
	padding-right: 10px;
}

.all{
	color: white;
	margin:0;
	position: absolute;
	margin: 0;
    position: absolute;
    left: 35px;
    top:50px;
}
    

.div2{
	position:absolute;
	width: 250px;
	height: 610px;
	background-color: #1c1c1c;
	margin: 61px 0px 42px;
	display: inline-block;
	left: 259px;
	overflow: hidden;
}
#yashesh-img{
	position: absolute;
	bottom:80px;
	width: 250px;
	height: 550px;
	background-color: rgba(28,28,28,1);
}
#name{
	position: absolute;
	bottom :110px;
	color: #fff;
	text-align: center;
	display: inline-block;
	margin-left: 61px;
	margin-top: 17px;
	margin-bottom: 0;
	font-family: fredoka one;
	font-weight: light;

}


#developer{
	color: #00c483;
	position: absolute;
	bottom: 60px;
	text-align: center;
	display: inline-block;
	margin-left: 80px;
	margin-bottom: 20px;
	font-family: merriweather;

}

ul{
	position: fixed;
	display: inline-block;
	bottom:	60px;

}
li a img{
	margin-left: 15px;
	width: 10%;

}
li a img:hover,a:hover,.all:hover{
	color: #03a76c;

}

.div3{
	z-index: 0;
	background-color:#1c1e1f;
	position: absolute;
	width: 700px;
	height: 550px;
	display: block;
	overflow: hidden;
	top: 89px;
	left:510px;
	scroll-behavior: smooth;
	overflow: scroll ;
	color: white;
}
.div3::-webkit-scrollbar{
	display: none;
}